* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #121212;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1a1a1a;
    background-color: #fff;
  }
}
