<div class="toolbar" role="banner">
</div>
<mat-toolbar color="primary">
  <span>M3U Split</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>File Upload</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <file-upload
      requiredFileType="audio/x-mpegurl"
      (newItemEvent)="addItem($event)"
    ></file-upload>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>File Download</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <file-download
      [channelsList]="channelsList"
      [selectedOptions]="selectedOptions"
    ></file-download>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Channel Picker</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list
      color="primary"
      #channelsSelected
      [(ngModel)]="selectedOptions"
    >
      <mat-list-option
        *ngFor="let channel of channelsList?.channels"
        [value]="channel.index"
      >
        {{ channel.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
